<section>
  <h2 class="govuk-heading-m">Get help with your form</h2>
  <p class="govuk-body-s">Contact us if you need help with this service or support filling in your form.</p><b
    class="govuk-body-s govuk-!-font-weight-bold">Telephone</b>
  <p class="govuk-body-s">Our specialist nurse-led team is available to help on the phone.</p>
  <p class="govuk-body-s">Telephone: 0800 999 2434<br>Monday to Friday, 11am to 3pm</p>
  <p class="govuk-body-s"><b class="govuk-body-s govuk-!-font-weight-bold">Email</b> <br>
    <a class="govuk-link" href="mailto:info@compassionindying.org.uk" target="_blank">info@compassionindying.org.uk</a><br>
    We aim to respond within 2 working days</p>
</section>