// The CID stylesheet is used if you need to create pages in your
// prototype with Compassion in Dying branding.

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";


// Import CID fonts and override the default GOV.UK Frontend font stack.
@font-face{
	font-family: 'Souvenir';
	src: url( '../fonts/SouvenirGreek-Demi.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirGreek-Light.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-Bold.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-BoldItalic.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-Demi.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-DemiItalic.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-Light.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-LightItalic.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-Medium.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-MediumItalic.otf' ) format( 'otf' );
}

@font-face {
	font-display: swap;
	font-family: 'geograph';
	font-weight: 400;
	font-style: normal;
	src: url( '../fonts/geograph-regular.woff2' ) format( 'woff2' );
}

@font-face {
	font-display: swap;
	font-family: 'geograph';
	font-weight: 400;
	font-style: italic;
	src: url( '../fonts/geograph-regular-italic.woff2' ) format( 'woff2' );
}

@font-face {
	font-display: swap;
	font-family: 'geograph';
	font-weight: 700;
	font-style: normal;
	src: url( '../fonts/geograph-medium.woff2' ) format( 'woff2' );
}

@font-face {
	font-display: swap;
	font-family: 'geograph';
	font-weight: 700;
	font-style: italic;
	src: url( '../fonts/geograph-medium-italic.woff2' ) format( 'woff2' );
}
  
$govuk-font-family: "geograph", "Arial";

.govuk-heading-xl {
    font-family: "SouvenirStd-Demi", "Georgia";
  }

// Override GOV.UK brand colour.
$govuk-brand-colour: #00403a;

// Override the body and canvas background colour, which is normally grey.
$govuk-body-background-colour: #ffffff;
$govuk-canvas-background-colour: #ffffff;

// IMPORT DEFAULT GOV.UK STYLES.
@import "application";

// Override button radius.
.govuk-button, .govuk-button:visited, .govuk-button:link {
	border-radius: 6px;
	padding: 13px 20px 15px;
	background-color: #71d76d;
	color: #00403a;
}

.govuk-button:hover {
	background-color: #00403a;
	color: #ffffff;
}

// Set CID primary colours.
$cid-dark-green: #00403a;
$cid-mid-green: #32723c;
$cid-bright-green: #71d76d;

// Override header styles.
.govuk-header {
	border-bottom: 0px;
	background-color: #00403a;
}

.govuk-header__container {
	border-bottom: 0px;
}

.govuk-header__link--homepage {
	margin-right: 0px;
}

.govuk-header__content, .govuk-header__link:link, .govuk-header__link:visited, .govuk-header__service-name {
	color: #ffffff;
	font-family: "SouvenirStd-Light";
}

.cid-header__link, .cid-header__link:visited {
	font-family: "geograph";
	color: #ffffff;
}

.a:link {
	color: #00403a;
}

a:active {
	color: #000000;
	background-color: $cid-bright-green;
}

a:visited {
	color: #00403a;
}

// Override inset text.
.govuk-inset-text {
	border-left: 10px solid $cid-bright-green;
}

// Override heading fonts to use Souvenir

.govuk-heading-xl, .govuk-heading-l {
    font-family: "SouvenirStd-Light", "Georgia";
    color: #00403a;
  }

.govuk-heading-m, .govuk-heading-s {
    font-family: "SouvenirGreek-Light", "Georgia";
    color: #00403a;
  }

.govuk-panel__title {
	font-family: "SouvenirGreek-Light", "Georgia";
}

// Override caption colour
.govuk-caption-xl {
    color: #00403a;
}

// Override default body and paragraph colours

p, .govuk-body, .govuk-body-m {
    color: #00403a;
}

// Override link colour

a {
    color: #32723c;
}

// Override details component

.govuk-details__summary {
    color: #32723c;
    font-weight: 700;
}