// The CID stylesheet is used if you need to create pages in your
// prototype with Compassion in Dying branding.

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";


// Import CID fonts and override the default GOV.UK Frontend font stack.
@font-face{
	font-family: 'Souvenir';
	src: url( '../fonts/SouvenirGreek-Demi.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirGreek-Light.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-Bold.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-BoldItalic.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-Demi.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-DemiItalic.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-Light.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-LightItalic.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-Medium.otf' ) format( 'otf' ),
	url( '../fonts/SouvenirStd-MediumItalic.otf' ) format( 'otf' );
}

@font-face {
	font-display: swap;
	font-family: 'geograph';
	font-weight: 400;
	font-style: normal;
	src: url( '../fonts/geograph-regular.woff2' ) format( 'woff2' );
}

@font-face {
	font-display: swap;
	font-family: 'geograph';
	font-weight: 400;
	font-style: italic;
	src: url( '../fonts/geograph-regular-italic.woff2' ) format( 'woff2' );
}

@font-face {
	font-display: swap;
	font-family: 'geograph';
	font-weight: 700;
	font-style: normal;
	src: url( '../fonts/geograph-medium.woff2' ) format( 'woff2' );
}

@font-face {
	font-display: swap;
	font-family: 'geograph';
	font-weight: 700;
	font-style: italic;
	src: url( '../fonts/geograph-medium-italic.woff2' ) format( 'woff2' );
}
  
$govuk-font-family: "geograph", "Arial";

.govuk-heading-xl {
    font-family: "geograph", "Arial";
  }

// Override GOV.UK brand colour.
$govuk-brand-colour: #00403a;

// Override the body and canvas background colour, which is normally grey.
$govuk-body-background-colour: #ffffff;
$govuk-canvas-background-colour: #ffffff;

// IMPORT DEFAULT GOV.UK STYLES.
@import "application";

// Override button radius.
.govuk-button, .govuk-button:visited, .govuk-button:link {
	border-radius: 6px;
	padding: 13px 20px 15px;
	background-color: #71d76d;
	color: #00403a;
}

.govuk-button:hover {
	background-color: #00403a;
	color: #ffffff;
}

a.govuk-button {
	text-decoration: none;
}
// Set CID primary colours.
$cid-dark-green: #00403a;
$cid-mid-green: #32723c;
$cid-bright-green: #71d76d;

// Override header styles.
.govuk-header {
	border-bottom: 0px;
	background-color: #00403a;
}

.govuk-header__container {
	border-bottom: 0px;
}

.govuk-header__link--homepage {
	margin-right: 0px;
}

.govuk-header__content, .govuk-header__link:link, .govuk-header__link:visited, .govuk-header__service-name {
	color: #ffffff;
	font-family: "geograph", "Arial";
}

.cid-header__link:link, .cid-header__link:visited {
	font-family: "geograph", "Arial";
	color: #ffffff;
}

.govuk-header__navigation-item--active a:link,
.govuk-header__navigation-item--active a:visited {
	color: $cid-bright-green;
}

.govuk-panel--confirmation {
	background-color: #00403a;
}

a:active {
	color: #000000;
	background-color: $cid-bright-green;
}

a:visited {
	color: #00403a;
}

// Override inset text.
.govuk-inset-text {
	border-left: 10px solid $cid-bright-green;
}

// Override heading fonts to use Souvenir

.govuk-heading-xl {
    font-family: "geograph", "Arial";
    color: #00403a;
  }

.govuk-heading-l, .govuk-fieldset__legend, .app-task-list__section, .govuk-heading-m, .govuk-heading-s, .govuk-label--l {
font-family: "geograph", "Arial";
color: #00403a;
}

.govuk-panel__title {
	font-family: "geograph", "Arial";
}

// Override caption colour
.govuk-caption-xl {
    color: #00403a;
}

// Override default body, paragraph and list item colours

p, li, .govuk-body, .govuk-body-m {
    color: #00403a;
}

// Override link colour

a, a:link {
    color: #32723c;
}

// Override details component

.govuk-details__summary {
    color: #32723c;
    font-weight: 700;
}

.govuk-back-link {
	display: block;
	margin-top: 30px;
	color: $cid-dark-green;
	&:link, &:visited {
		color: $cid-dark-green;
	}
}

/* add some styling to the button element to make it look like a hyperlink */
.unstyle-button {
	background: none!important;
	border: none;
	padding: 0!important;
	font-family: geograph, Arial, sans-serif;
	font-size: 18px;
	color: $cid-dark-green;
	text-decoration: underline;
	cursor: pointer;
	&:hover {
		text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
	}
}

// summary cards


.govuk-summary-card {
	margin-bottom: 20px;
	border: 1px solid #b1b4b6
}

@media(min-width: 40.0625em) {
	.govuk-summary-card {
		margin-bottom:30px
	}
}

.govuk-summary-card__title-wrapper {
	padding: 15px;
	border-bottom: 1px solid transparent;
	background-color: #f3f2f1
}

@media(min-width: 40.0625em) {
	.govuk-summary-card__title-wrapper {
		display:flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		padding: 15px 20px
	}
}

.govuk-summary-card__title {
	font-family: geograph,Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	margin: 5px 20px 10px 0
}

@media print {
	.govuk-summary-card__title {
		font-family: sans-serif
	}
}

@media(min-width: 40.0625em) {
	.govuk-summary-card__title {
		font-size:19px;
		font-size: 1.1875rem;
		line-height: 1.3157894737
	}
}

@media print {
	.govuk-summary-card__title {
		font-size: 14pt;
		line-height: 1.15
	}
}

@media(min-width: 40.0625em) {
	.govuk-summary-card__title {
		margin-bottom:5px
	}
}

.govuk-summary-card__actions {
	font-family: geograph,Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.25;
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	margin: 5px 0;
	padding: 0;
	list-style: none
}

@media print {
	.govuk-summary-card__actions {
		font-family: sans-serif
	}
}

@media(min-width: 40.0625em) {
	.govuk-summary-card__actions {
		font-size:19px;
		font-size: 1.1875rem;
		line-height: 1.3157894737
	}
}

@media print {
	.govuk-summary-card__actions {
		font-size: 14pt;
		line-height: 1.15
	}
}

@media(min-width: 40.0625em) {
	.govuk-summary-card__actions {
		justify-content:right;
		text-align: right
	}
}

.govuk-summary-card__action {
	display: inline;
	margin: 0 10px 0 0;
	padding-right: 10px;
	border-right: 1px solid #b1b4b6
}

@media(min-width: 40.0625em) {
	.govuk-summary-card__action {
		margin-right:0
	}
}

@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
	.govuk-summary-card__action {
		margin-bottom: 5px
	}
}

.govuk-summary-card__action:last-child {
	margin: 0;
	padding-right: 0;
	border-right: none
}

@media(min-width: 40.0625em) {
	.govuk-summary-card__action:last-child {
		padding-left:10px
	}
}

@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
	.govuk-summary-card__action:last-child {
		margin-bottom: 0
	}
}

.govuk-summary-card__content {
	padding: 15px 15px 0
}

@media(min-width: 40.0625em) {
	.govuk-summary-card__content {
		padding:15px 20px
	}
}

.govuk-summary-card__content .govuk-summary-list {
	margin-bottom: 0
}

.govuk-summary-card__content .govuk-summary-list__row:last-of-type {
	margin-bottom: 0;
	border-bottom: none
}

// tags {

.govuk-tag {
	display: inline-block;
	outline: 2px solid transparent;
	outline-offset: -2px;
	color: #fff;
	background-color: #1d70b8;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: geograph,Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 14px;
	font-size: .875rem;
	line-height: 1;
	padding: 5px 8px 4px
}

@media print {
	.govuk-tag {
		font-family: sans-serif
	}
}

@media(min-width: 40.0625em) {
	.govuk-tag {
		font-size:16px;
		font-size: 1rem;
		line-height: 1
	}
}

@media print {
	.govuk-tag {
		font-size: 14pt;
		line-height: 1
	}
}

.govuk-tag--grey {
	color: #383f43;
	background: #eeefef
}

.govuk-tag--purple {
	color: #3d2375;
	background: #dbd5e9
}

.govuk-tag--turquoise {
	color: #10403c;
	background: #bfe3e0
}

.govuk-tag--blue {
	color: #144e81;
	background: #d2e2f1
}

.govuk-tag--yellow {
	color: #594d00;
	background: #fff7bf
}

.govuk-tag--orange {
	color: #6e3619;
	background: #fcd6c3
}

.govuk-tag--red {
	color: #942514;
	background: #f6d7d2
}

.govuk-tag--pink {
	color: #80224d;
	background: #f7d7e6
}

.govuk-tag--green {
	color: #005a30;
	background: #cce2d8
}