
#account-grid {
  margin-top: 4em
}

@media(min-width: 641px) {
  #account-grid {
    display:table
  }

  #account-grid-left,#account-grid-right {
    display: table-cell;
    padding-right: 2em
  }
}

#account-grid-left .heading-medium,#account-grid-right .heading-medium {
  margin-top: 0
}

#account-grid-left p,#account-grid-right p {
  margin-bottom: 2em;
  max-width: 390px
}

@media(min-width: 641px) {
  #account-grid-left {
    width:48%
  }
}

#account-grid-right {
  margin-top: 3em
}

@media(min-width: 641px) {
  #account-grid-right {
    margin-top:0;
    border-left: 5px solid #bfc1c3;
    position: relative;
    padding-left: 38px;
    padding-right: 30px;
    width: 55%
  }

  #account-grid-right .button-start {
    position: absolute;
    bottom: 0;
    left: 38px
  }

  #account-grid-right .button-start:active {
    top: auto;
    bottom: -2px
  }

  .govuk-hint {
    white-space: pre-wrap
  }
}
