{% extends "layout_cid_logged_out.html" %}

{% block pageTitle %}
  Please check your email – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Please check your email</h1>

      <p>
        We’ve just sent you an email with a link that you need to click to verify your email address and activate your account.
      </p>
      <p>
        If you haven’t received the email within a few minutes, please check your junk email folder.
      </p>
      <p>
        Your email system may have blocked the email – <a href="#">resend activation email</a>.
      </p>

      <br>

      <a href="confirm-email-address">[GO TO EMAIL]</a>

    </div>
  </div>

{% endblock %}
