{% extends "layout_v3.html" %}
{% set signedin = "true" %}
{% set serviceName = "Make an advance statement" %}

{% block pageTitle %}
Is there anything important to know when caring for you? – {{ serviceName }} - Compassion in Dying
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="values-dislike">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="{{ action or '/v3/statement/care-food'}}" method="post" class="form">

        <p class="govuk-caption-l">Your care</p>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="care-caring">
              Is there anything important to know when caring for you? (optional)
            </label>
          </h1>
          <div id="care-caring-hint" class="govuk-hint">For example, do you have a daily routine you like to stick to, such as the time you get up and go to bed, or if you prefer a bath or shower? At the moment, is there anything you cannot do independently and need support with?</div>
          <textarea class="govuk-textarea" id="care-caring" name="care-caring" rows="5" aria-describedby="care-caring-hint">{{ data['care-caring'] }}</textarea>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          <a class="govuk-link" href="/v3/dashboard">Save and continue later</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
