{% extends "layout_cid_logged_out.html" %}
{% set serviceName = "Make an advance statement" %}

{% block pageTitle %}
What are your attorney's details? - {{ serviceName }} - Compassion in Dying
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ prevURL or 'healthcare-lpa' }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="/v3/statement/healthcare-attorney-add-post" method="post" class="form">

        <p class="govuk-caption-l">Healthcare details</p>

        <h1 class="govuk-heading-l govuk-!-padding-top-0">
          What are your attorney's details?
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="attorney-name">
            Full name
          </label>
          <input class="govuk-input" id="attorney-name" name="attorney-name" type="text" spellcheck="false" value="{{ attorneyName or '' }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="attorney-email">
            Email address
          </label>
          <input class="govuk-input" id="attorney-email" name="attorney-email" type="email" spellcheck="false" value="{{ attorneyEmail or '' }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="attorney-telephone-number">
            Phone number
          </label>
          <input class="govuk-input govuk-input--width-20" id="attorney-telephone-number" name="attorney-telephone-number" type="tel" autocomplete="tel" value="{{ attorneyPhone or '' }}">
        </div>

        {% if item %}
        <input class="govuk-input" name="amend-attorney" type="hidden" value="{{ item }}">
        {% endif %}

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-link" href="#">Save as draft</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
