{% extends "layout_v3.html" %}
{% set signedin = "true" %}
{% set serviceName = "Make an advance statement" %}
{% set feedbackLink = 'true' %}

{% if data['change'] === 'true' %}
  {% set action = '/v3/statement/check-details-1' %}
{% elif data['change'] === 'final' %}
  {% set action = '/v3/statement/check-details-2' %}
{% elif data['change'] === 'tasklist' %}
  {% set action = 'tasklist-decision' %}
{% endif %}

{% block pageTitle %}
Your GP surgery - {{ serviceName }} - Compassion in Dying
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ prevURL or 'personal-country' }}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="{{ action or '/v3/statement/healthcare-lpa'}}" method="post" class="form">

        <p class="govuk-caption-l">Healthcare details</p>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Your GP surgery
            </h1>
          </legend>

          <div id="sign-in-hint" class="govuk-hint">It is helpful to include details of your GP surgery in your advance decision so they can be contacted if needed. You can use the NHS website to <a href="https://www.nhs.uk/service-search/find-a-gp">find the details of your GP surgery</a>.</div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="gp-name">
              Name of GP surgery
            </label>
            <input class="govuk-input" id="gp-name" name="gp-name" type="text" value="{{ data['gp-name'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="gp-address-line-1">
              Address line 1
            </label>
            <input class="govuk-input" id="gp-address-line-1" name="gp-address-line-1" type="text" value="{{ data['gp-address-line-1'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="gp-address-line-2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input" id="gp-address-line-2" name="gp-address-line-2" type="text" value="{{ data['gp-address-line-2'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="gp-address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="gp-address-town" name="gp-address-town" type="text" value="{{ data['gp-address-town'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="gp-address-county">
              County (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="gp-address-county" name="gp-address-county" type="text" value="{{ data['gp-address-county'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="gp-address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="gp-address-postcode" name="gp-address-postcode" type="text" value="{{ data['gp-address-postcode'] }}">
          </div>
        </fieldset>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          <a class="govuk-link" href="/v3/dashboard">Save and continue later</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
