{% extends "layout_v3.html" %}
{% set signedin = "true" %}
{% set serviceName = "Make an advance statement" %}
{% set feedbackLink = 'true' %}

{% if data['change'] === 'final' %}
  {% set action = '/v3/statement/check-details-2' %}
  {% set backlink = 'check-details-2' %}
{% elif data['change'] === 'tasklist' %}
  {% set action = '/v3/statement/tasklist-statement' %}
  {% set backlink = 'tasklist-decision' %}
{% endif %}

{% block pageTitle %}
Do you have any conditions or illnesses? – {{ serviceName }} - Compassion in Dying
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="{{ backlink or 'care-where'}}">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="{{ action or '/v3/statement/treatment-health'}}" method="post" class="form">

        <p class="govuk-caption-l">Your treatment</p>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="treatment-conditions">
              Do you have any conditions or illnesses? (optional)
            </label>
          </h1>
          <div id="treatment-conditions-hint" class="govuk-hint">For example, what information should others know about your health? Are you currently having any treatments or on any medications? Do you have any allergies?</div>
          <textarea class="govuk-textarea" id="treatment-conditions" name="treatment-conditions" rows="5" aria-describedby="treatment-conditions-hint">{{ data['treatment-conditions'] }}</textarea>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Save and continue
          </button>
          <a class="govuk-link" href="/v3/dashboard">Save and continue later</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
