{% extends "layout_v3.html" %}
{% set signedin = "true" %}
{% set serviceName = "Make an advance statement" %}

{% block pageTitle %}
What things do you dislike? – {{ serviceName }} - Compassion in Dying
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="values-religion">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="{{ action or '/v3/statement/care-caring'}}" method="post" class="form">

        <p class="govuk-caption-l">Your values</p>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="values-dislike">
              What things do you dislike? (optional)
            </label>
          </h1>
          <div id="values-dislike-hint" class="govuk-hint">For example, do you dislike certain activities, music or foods? Are you scared of anything, such as needles, certain animals, or being alone for too long?</div>
          <textarea class="govuk-textarea" id="values-dislike" name="values-dislike" rows="5" aria-describedby="values-dislike-hint">{{ data['values-dislike'] }}</textarea>
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-link" href="#">Save as draft</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
