{% extends "layout_cid.html" %}

{% block pageTitle %}
My health – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">My health</h1>

      <p>
        This page contains information about your health. You don’t have to complete this but, if you are in a situation where you cannot communicate or make decisions for yourself, then what you write here will help your healthcare team to care for you.
      </p>

      <form action="next-steps" method="post" novalidate>
        <div class="govuk-form-group">
          <label class="govuk-label" for="info-about-health">
            Information about my health…
          </label>
          <div id="info-about-health-hint" class="govuk-hint">
            In this box you can write anything that you would like other people to know about your health. For example, if you have a history of illness, a specific diagnosis of something, or are taking medication for something, you can write this here.
          </div>
          <textarea class="govuk-textarea" id="info-about-health" name="info-about-health" rows="5" aria-describedby="info-about-health-hint"></textarea>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="nhs-number">
            NHS Number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="nhs-number" name="nhs-number" type="number">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="gp-name">
            GP’s Name
          </label>
          <input class="govuk-input" id="gp-name" name="gp-name" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="gp-address">
            GP’s Address
          </label>
          <textarea class="govuk-textarea" id="gp-address" name="gp-address" rows="5"></textarea>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="gp-phone-number">
            GP’s Phone Number
          </label>
          <input class="govuk-input" id="gp-phone-number" name="gp-phone-number" type="number">
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="lpa-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend">
              <h1 class="govuk-fieldset__heading">
                Have you made a Lasting Power of Attorney for Health and Welfare?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lpa" name="lpa" type="radio" value="no" data-aria-controls="conditional-lpa">
                <label class="govuk-label govuk-radios__label" for="lpa">
                  No
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="lpa-2" name="lpa" type="radio" value="yes" data-aria-controls="conditional-lpa-2">
                <label class="govuk-label govuk-radios__label" for="lpa-2">
                  Yes, I have made a Lasting Power of Attorney for Health and Welfare
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-lpa-2">
                <h2 class="govuk-heading-m">
                  Enter your attorney’s details
                </h2>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="lpa-name">
                    Name
                  </label>
                  <input class="govuk-input" id="lpa-name" name="lpa-name" type="text">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="lpa-address">
                    Address
                  </label>
                  <textarea class="govuk-textarea" id="lpa-address" name="lpa-address" rows="5"></textarea>
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="lpa-phone">
                    Phone Number
                  </label>
                  <input class="govuk-input" id="lpa-phone" name="lpa-phone" type="tel" autocomplete="tel">
                </div>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="lpa-email">
                    Email
                  </label>
                  <input class="govuk-input" id="lpa-email" name="lpa-email" type="text">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
      <p>
        <a href="ad-task-list-5">Save and continue later</a>
      </p>

    </div>
  </div>

{% endblock %}
