{% extends "layout_cid.html" %}

{% block pageTitle %}
  Refusing treatment if I have a terminal illness – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Refusing treatment if I have a terminal illness</h1>

      <p>
        A terminal illness is an illness that has reached a stage where it cannot be cured and is likely to cause a person to die within a limited amount of time.
      </p>

      <p>
        There are many conditions that can have a terminal stage, including cancer, heart failure, renal failure and lung disease.
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About terminal illness
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <p>
            A terminal illness is an illness that cannot be cured and is likely to cause a person to die.
          </p>

          <p>
            When an illness is diagnosed as terminal it means that a cure is no longer possible. At this point the person may be offered palliative care. Palliative care aims to achieve the best possible quality of life for the person who is ill by managing pain and other physical symptoms. It also supports any psychological, spiritual or social needs of the person and those close to them.
          </p>

          <p>
            When an illness is diagnosed as terminal it is difficult to say exactly how long the person will live for. Many doctors diagnose an illness as terminal if the person is not expected to live for longer than six months, but some people will live for longer than this, and some will live for less.
          </p>

          <p>
            There are many conditions that can become terminal, including:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              Cancer (when some of the cells in the body divide abnormally causing growths called tumours or damage to the body’s immune system)
            </li>
            <li>
              Heart failure (when your heart cannot pump blood around your body as well as it needs to)
            </li>
            <li>
              Lung disease, including some types of chronic obstructive pulmonary disease (COPD) (when your airways become narrower making it harder to breathe)
            </li>
          </ul>

          <p>
            It is difficult to say exactly what symptoms someone with a terminal illness will experience, but people in advanced stages of a terminal illness may experience similar symptoms as they approach the end of life. These symptoms can include:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              Excessive tiredness, drowsiness and weakness
            </li>
            <li>
              Difficulty breathing
            </li>
            <li>
              Changes to sight and hearing, including seeing things that others do not (hallucinations)
            </li>
            <li>
              Decreased appetite
            </li>
            <li>
              Nausea and vomiting
            </li>
            <li>
              Bladder and bowel problems
            </li>
            <li>
              Changes in mood and emotion
            </li>
          </ul>

          <p>
            People with a terminal illness may also experience symptoms specific to their illness.
          </p>

          <p>
            If you have a terminal illness that is in an advanced stage this does not necessarily mean that you will lose capacity. Many people with a terminal illness are able to make decisions about their medical treatment until their death. Remember that your Advance Decision will only come into effect if you lack capacity to make a decision about your medical treatment. So, if you have capacity you will continue to be able to make your own decisions.
          </p>

          <p>
            For more information on:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              Cancer - see <a href="#">www.nhs.uk/conditions/cancer</a>
            </li>
            <li>
              Heart disease - see <a href="#">www.nhs.uk/conditions/heart-disease</a>
            </li>
            <li>
              Chronic obstructive pulmonary disease – see <a href="#">www.nhs.uk/conditions/chronic-obstructive-pulmonary-disease</a>
            </li>
          </ul>

        </div>
      </details>

      <form action="refusing-treatment-other-scenarios" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="terminal-illness-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you want to include terminal illness in your Advance Decision?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="terminal-illness" name="terminal-illness" type="radio" value="no" data-aria-controls="conditional-terminal-illness">
                <label class="govuk-label govuk-radios__label" for="terminal-illness">
                  No
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="terminal-illness-2" name="terminal-illness" type="radio" value="yes" data-aria-controls="conditional-terminal-illness-2">
                <label class="govuk-label govuk-radios__label" for="terminal-illness-2">
                  Yes, please show me further options
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-terminal-illness-2">
                <p>
                  You can include the scenario below in your Advance Decision by ticking the box next to it.
                </p>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend--m">
                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="refuse-all-life-sustaining-treatment" name="refuse-all-life-sustaining-treatment" type="checkbox" value="refuse-all-life-sustaining-treatment">
                          <label class="govuk-label govuk-checkboxes__label" for="refuse-all-life-sustaining-treatment">
                            If I have any terminal illness, and I can no longer make or communicate decisions about my medical treatment, and I am unlikely to regain the ability to make these decisions, then I refuse all life-sustaining treatment.
                          </label>
                        </div>
                      </div>
                  </fieldset>
                </div>
              </div>
            </div>
          </fieldset>
          
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
      <p>
        <a href="ad-task-list-2">Save and continue later</a>
      </p>

    </div>
  </div>

{% endblock %}
