{% extends "layout_v3.html" %}
{% set signedin = "true" %}
{% set formsActive = "govuk-header__navigation-item--active" %}

{% block pageTitle %}
  Your Forms - Make a living Will - Compassion in dying
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Your forms</h1>

      <p class="govuk-body-l">On this page you can:</p>

      <div class="govuk-inset-text">
        <ul class="govuk-list govuk-list--bullet">
          <li>create a new advance decision or advance statement</li>
          <li>edit your draft forms</li>
          <li>download your completed forms</li>
          <li>continue an existing form which isn't complete</li>
        </ul>
      </div>

      <ul class="govuk-grid-row nhsuk-card-group">

        <li class="govuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="personal-name">Create a new advance decision</a>
              </h2>
              <p class="nhsuk-card__description">Decide when you want to refuse treatment, if you lose mental
                capacity in the future</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="statement/personal-name">Create a new advance statement</a>
              </h2>
              <p class="nhsuk-card__description">Describe your wishes, feelings, beliefs and values about how you
                are cared for, if you lose mental capacity in the future</p>
            </div>
          </div>
        </li>

      </ul>

      <h2 class="govuk-heading-l">Advanced decisions</h2>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Advance Decision for
          {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Philips' }}</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="tasklist-decision?id=0&status=completed">Edit <span class="govuk-visually-hidden"> Advance Decision for {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Philips' }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="delete?id=0">Delete form <span class="govuk-visually-hidden"> Advance Decision for {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Philips' }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Last saved</dt>
              <dd class="govuk-summary-list__value">31/12/1 @ 00:00:00</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Progress</dt>
              <dd class="govuk-summary-list__value">Completed</dd>
            </div>
          </dl>
        </div>
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Advance Decision for
          {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Philips' }}</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="tasklist-decision?id=1&status=incomplete">Edit <span class="govuk-visually-hidden"> Advance Decision for {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Philips' }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="delete?id=1">Delete form <span class="govuk-visually-hidden"> Advance Decision for {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Philips' }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Last saved</dt>
              <dd class="govuk-summary-list__value">31/12/1 @ 00:00:00</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Progress</dt>
              <dd class="govuk-summary-list__value">Incomplete</dd>
            </div>
          </dl>
        </div>
      </div>

      <h2 class="govuk-heading-l">Advanced statements</h2>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper"><h2 class="govuk-summary-card__title">Advance Statement for
          {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Philips' }}</h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="tasklist-statement?id=2&status=completed">Edit <span class="govuk-visually-hidden"> Advance Statement for {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Philips' }}</span></a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="delete?id=2">Delete form <span class="govuk-visually-hidden"> for Advance Statement for {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Philips' }}</span></a>
            </li>
          </ul>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Last saved</dt>
              <dd class="govuk-summary-list__value">31/12/1 @ 00:00:00</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Progress</dt>
              <dd class="govuk-summary-list__value">Completed</dd>
            </div>
          </dl>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
