{% extends "layout_v3.html" %}
{% set signedin = "true" %}
{% set serviceName = "Make an advance decision (living will)" %}

{% if data['change'] === 'true' %}
  {% set action = '/v3/check-details-1' %}
{% elif data['change'] === 'final' %}
  {% set action = '/v3/check-details-2' %}
{% endif %}

{% block pageTitle %}
What is your NHS number? - {{ serviceName }} - Compassion in Dying
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="personal-do-you-know-nhs-no">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <form action="{{ action or '/v3/healthcare-gp-surgery'}}" method="post" class="form">

        <p class="govuk-caption-l">Healthcare details</p>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="nhs-no">
              What is your NHS number?
            </label>
          </h1>
          <div id="nhs-no-hint" class="govuk-hint">Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example, 485 777 3456.</div>
          <input class="govuk-input govuk-input--width-10" id="nhs-no" name="nhs-no" type="text" aria-describedby="nhs-no-hint"  value="{{ data['nhs-no'] }}">
        </div>

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <a class="govuk-link" href="#">Save as draft</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
