{% extends "layout_v3.html" %}
{% set signedin = "false" %}

{% block pageTitle %}
  Home – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Make an advance decision (living will)</h1>

      <p class="govuk-body-l">You can use this free online service to make an advance decision (living will). You can also
        use it to make an advance statement.<!-- --> </p>
      <p class="govuk-body">You can use this service if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>are 18 or older</li>
        <li>have mental capacity</li>
        <li>live in the UK</li>
      </ul>
      <p class="govuk-body">This service will take you through the form step-by-step. We'll use your answers to create
        your form that you can save, print, sign and get witnessed.</p>
      <p class="govuk-body">You then need to share a copy with your GP and those close to you.</p>
      <div class="nhsuk-warning-callout">

        <h3 class="nhsuk-warning-callout__label">Important<span class="govuk-visually-hidden">:</span></h3>

        <p class="govuk-body">Advance decisions are legally binding in England, Wales, and Northern Ireland. They are not
          legally binding in Scotland but you can still use this service to create an advance decision as they should be
          taken into account by doctors.</p></div>


      <div id="account-grid">
        <div id="account-grid-left">
          <div><h3 class="govuk-heading-m">I do not have an account</h3>
            <p class="govuk-body">To start you first need to set up an online account.
              You can use your account to make a form for yourself or help someone else.</p>
            <a href="account/register" class="govuk-button govuk-button--start"> Create my account <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>
          </div>
        </div>
        <div id="account-grid-right">
          <div><h3 class="govuk-heading-m">I already have an account</h3>
            <p class="govuk-body">Continue making your advance decision or advance statement online by signing into your
              existing account.</p>
            <a href="account/sign-in" class="govuk-button govuk-button--start">Sign in <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg></a>
          </div>
        </div>
      </div>
      <p class="govuk-body">Some people complete their form in one go, others take longer. Everyone is different and you
        should take as long as you need. You can save your progress as you go, so you can return to it when you're
        ready.</p>
      <h3 class="govuk-heading-m">Would you prefer a paper form?</h3>
      <p class="govuk-body">Download our <a class="govuk-link" href="https://cdn.compassionindying.org.uk/wp-content/uploads/advance-decision-pack-v2.3.pdf"
                                            target="_blank">template
        advance decision form (PDF, 484KB)</a> and print it, then complete it by hand. If you do not have a printer, you
        can <a class="govuk-link" href="https://compassionindying.org.uk/order-living-will-advance-decision-pack/"
               target="_blank">order an advance decision
          form</a> and we'll post it to you.</p>

    </div>
  </div>

{% endblock %}
