
{% extends "layout_cid.html" %}

{% block pageTitle %}
  My forms – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        My account
      </h1>

      <p class="govuk-body">Within your account you can:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>create a new advance decision</li>
          <li>create a new advance statement</li>
          <li>view or edit a completed form</li>
          <li>continue an existing form which isn't complete</li>
        </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About Advance Decisions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            An advance decision (sometimes referred to as a living will) allows you to record  medical treatments that you do not want to be given in future. Advance decisions are legally binding in England, Wales and Northern Ireland. They are not legally binding in Scotland but should be taken into account by doctors.
          </p>

          <p>
            An advance decision will come into effect should you become unable to make or communicate decisions for yourself. If a healthcare professional knows you have made an advance decision, they have to follow it. If ignored and treatment is provided which you have refused, then they could be taken to court.
          </p>

          <p>
            You can use an advance decision to refuse any treatment, including life-sustaining treatment such as resuscitation, artificial nutrition and hydration, or breathing machines.
          </p>

          <p>
            An advance decision does not include:
          </p>
          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              requests or demands for particular treatments
            </li>
            <li>
              anything illegal such as assistance to end your life
            </li>
            <li>
              refusal of basic care that keeps you clean and comfortable
            </li>
            <li>
              appointment of someone to make decisions on your behalf
            </li>
          </ul>

        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About Advance Statements
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            An Advance Statement allows you to record your wishes, feelings, beliefs and values. You can include anything that is important to you in relation to your health and wellbeing, for example your food preferences, religious or spiritual views, your daily routine, where you would like to be cared for. It is also helpful to include information about the things that are important to your quality of life, for example hobbies, pastimes or spending time with your family.
          </p>
        
        <p>
          You can also use it to name anyone you would like to be consulted when decisions are being made on your behalf. However, this does not mean that a healthcare professional has to follow what that person says. The only way to give another person the legal power to make health or care decisions on your behalf is by making a Lasting Power of Attorney for Health and Welfare.
        </p>

        <p>
          An Advance Statement is not legally binding. This means that a healthcare professional doesn’t have to follow the exact instructions that are in it. However, what you write in your Advance Statement is still very important because it must be taken into account when someone is making a decision for you. If someone is making a decision for you, they have to act in your best interests. A best interests decision is based on your values, beliefs and preferences. It should be the decision you would make for yourself if you could.
        </p>

        <p>
          The Mental Capacity Act 2005 says the decision-maker must consider:
        </p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>
            All the relevant information, including the potential benefits or risks of a particular treatment, or any long-term consequences of giving or withholding the treatment such as the impact on your quality of life.
          </li>
          <li>
            Your past and present wishes and feelings, any wishes you have previously expressed, written down, or what you say you want now.
          </li>
          <li>
            Any values and beliefs you have that would be relevant to the decision.
          </li>
          <li>
            The views of your family members, carers and other relevant people.
          </li>
        </ul>
          
          <p>
            So, because an Advance Statement is evidence of your wishes, feelings, values and beliefs it must be considered when any action is taken on your behalf.
          </p>

        </div>
      </details>

      <p>
        <a href="#" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Create a new Advance Decision
        </a>
      </p>

      <p>
        <a href="#" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Create a new Advance Statement
        </a>
      </p>

      <p>[COMPLETED FORMS HERE]</p>

    </div>
  </div>

{% endblock %}
