{% extends "layout_v3.html" %}
{% set signedin = "true" %}
{% set serviceName = "Make an advance decision (living will)" %}

{% if data['change'] === 'true' %}
  {% set action = '/v3/check-details-1' %}
{% elif data['change'] === 'final' %}
  {% set action = '/v3/check-details-2' %}
  {% set backlink = 'check-details-2' %}
{% elif data['change'] === 'tasklist' %}
  {% set backlink = 'tasklist-decision' %}
  {% set action = 'tasklist-decision' %}
{% endif %}

{% block pageTitle %}
  Where do you live? - {{ serviceName }} - Compassion in Dying
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backlink or 'personal-name'}}">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="{{ action or '/v3/personal-country-post' }}" method="post" class="form">

      <p class="govuk-caption-l">Personal details</p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Where do you live?
            </h1>
          </legend>

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country" name="country" type="radio" value="England" {{ checked('country', 'England') }}>
              <label class="govuk-label govuk-radios__label" for="country">
                England
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country-2" name="country" type="radio" value="Scotland" {{ checked('country', 'Scotland') }}>
              <label class="govuk-label govuk-radios__label" for="country-2">
                Scotland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country-3" name="country" type="radio" value="Wales" {{ checked('country', 'Wales') }}>
              <label class="govuk-label govuk-radios__label" for="country-3">
                Wales
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country-4" name="country" type="radio" value="Northern Ireland" {{ checked('country', 'Northern Ireland') }}>
              <label class="govuk-label govuk-radios__label" for="country-4">
                Northern Ireland
              </label>
            </div>
          </div>
        </fieldset>


      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <a class="govuk-link" href="/v3/dashboard">Save and continue later</a>
      </div>

    </form>
  </div>
</div>

{% endblock %}
