{% extends "layout_cid.html" %}

{% block pageTitle %}
  Refusing treatment if I have dementia – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Refusing treatment if I have dementia</h1>

      <p>
        The word dementia is used to describe a large group of symptoms that can include memory loss, difficulties with thinking and language, and behaviour or personality changes.
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About dementia
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <p>
            The word dementia is used to describe a large group of symptoms that can include memory loss, difficulties with thinking and language, and behaviour or personality changes.
          </p>

          <p>
            Dementia is progressive, which means that the symptoms get worse over time. How quickly dementia develops will vary from person to person.
          </p>

          <h2 class="govuk-heading-m">
            Causes
          </h2>

          <p>
            Dementia is caused when the brain is damaged. There are many conditions that cause this. The most common types are:
          </p>

          <h3 class="govuk-heading-s">
            Alzheimer’s disease
          </h3>

          <p>
            Alzheimer’s disease causes damage to the brain’s cells and to their internal structure. The chemical connections between brain cells are lost over time and some cells die.
          </p>

          <h3 class="govuk-heading-s">
            Vascular dementia
          </h3>

          <p>
            Vascular dementia is when the oxygen supply to the brain is reduced because the blood vessels narrow or are blocked. Some brain cells are damaged or die. This can happen either suddenly following a major stroke, or over time through a series of minor strokes. Vascular dementia can also be caused by damage to the brain from Alzheimer’s disease, so some people can have both Alzheimer’s disease and vascular dementia.
          </p>

          <p>
            Other types of dementia include dementia with Lewy bodies and fronto-temporal dementia (often called frontal lobe dementia).
          </p>

          <h2 class="govuk-heading-m">
            Symptoms
          </h2>

          <p>
            The symptoms that a person will experience depend on the cause of the dementia and the parts of the brain that are damaged. Also, each person is different so this means that people experience dementia in different ways.
          </p>

          <p>
            People with dementia might have problems with thinking, language and remembering things. This is called cognitive impairment. Some might forget how to complete everyday tasks or be unable to recognise things that were previously familiar.
          </p>

          <p>
            Common symptoms include:
          </p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              Memory loss. This might include difficulty recalling recent events or remembering who people are.
            </li>
            <li>
              Problems communicating. Some people might find it difficult to think of the right word or be unable to follow a conversation.
            </li>
            <li>
              Finding it hard to plan or organise. This might include difficulty solving problems or carrying out a sequence of tasks, like cooking a meal.
            </li>
            <li>
              Difficulty judging space or distance. This might mean that some people, for example, find it hard to walk up or down stairs.
            </li>
            <li>
              Feeling disoriented. Some people with dementia might experience confusion about where they are, or not understand what time or date it is.
            </li>
          </ul>

          <p>
            All of these symptoms can make people with dementia feel frustrated or distressed, withdrawn, anxious, or sad. This, in turn, can cause changes in mood and personality.
          </p>

          <p>
            As a person’s dementia progresses they might develop behaviours that seem strange or are difficult to cope with. These behaviours can include agitation, aggression, repetitive questioning, restlessness, shouting or inappropriate behaviour. Often, these behaviours are caused by the person being unable to communicate how they are feeling.
          </p>

          <p>
            The symptoms of dementia can also result in a loss of independence for the person. They may need help managing everyday tasks such as eating and drinking, as well as help with personal care and going to the toilet.
          </p>

          <p>
            For more information on dementia see <a href="https://www.nhs.uk/conditions/dementia/" target="_blank">the dementia guide on the NHS website (link opens in a new window)</a>.
          </p>

        </div>
      </details>

      <p>
        In the later stages of dementia you can lose capacity to make decisions about your care and treatment. In this situation you might want to refuse treatments aimed at sustaining your life.
      </p>

      <form action="/v2/refusing-treatment-dementia-scenarios" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              Do you want to refuse life-sustaining treatment if you have dementia?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="refuse-lst-dementia" name="refuse-lst-dementia" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="refuse-lst-dementia">
                  Yes, I want to refuse life-sustaining treatment if I have dementia
                </label>
                <div id="refuse-lst-dementia-hint" class="govuk-hint govuk-radios__hint">
                  You’ll be able to decide when you refuse all life-sustaining treatment if you have dementia.
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="refuse-lst-dementia-2" name="refuse-lst-dementia" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="refuse-lst-dementia-2">
                  No, I do not want to refuse life-sustaining treatment if I have dementia
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
      <p>
        <a href="ad-task-list-2">Save and continue later</a>
      </p>

    </div>
  </div>

{% endblock %}
