
{% extends "layout_cid.html" %}

{% block pageTitle %}
  Refusing treatment – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Refusing treatment
      </h1>
      <p>
        The following questions ask about which scenarios you may want to refuse life-sustaining treatment if you lose capacity in the future.
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About capacity
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <p>
            Capacity is the ability to make a decision for yourself. Your capacity to make a decision depends on when the decision needs to be made, and what the decision is.
          </p>

          <p>
            You might lack capacity to make a decision on one day but be able to make that decision at a later date. For instance, this might be because you have dementia and your ability to remember information differs from one day to the next.
          </p>

          <p>
            You might also have capacity to make some decisions but not others. For example, you might have capacity to decide what you want to eat each day, but not to make a decision about life-sustaining treatment.
          </p>

          <p>
            You lack capacity to make a decision if:
          </p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              You have an impairment or disturbance of the mind or brain. For example, because you are unconscious, have dementia, a mental health condition, a brain injury or a stroke
            </li>
          </ul>

          <p>
            <strong>and</strong> because of that impairment, you cannot do one or more of these things:
          </p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              Understand information relating to the decision
            </li>
            <li>
              Remember that information for long enough to make the decision
            </li>
            <li>
              Take that information into account when making the decision
            </li>
            <li>
              Communicate the decision
            </li>
          </ul>
          
          <p>
            The law says that people must be assumed to have capacity unless it is proven otherwise.
          </p>

          <p>
            However, if a decision needs to be made and a healthcare professional thinks that you might lack capacity, then they will assess whether or not you have capacity to make that decision.
          </p>

        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            About life-sustaining treatment
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <p>
            Life-sustaining treatment is any medical treatment that is intended to prolong or sustain your life. A refusal of all life-sustaining treatment means a refusal of all medical treatments, procedures and interventions aimed at prolonging or sustaining your life.
          </p>

          <p>
            Here are some examples of life-sustaining treatment:
          </p>

          <h2 class="govuk-heading-m">
            Cardiopulmonary resuscitation (CPR)
          </h2>

          <p>
            CPR stands for cardiopulmonary resuscitation. It is an emergency attempt to restart a person’s heart and/or breathing if they have a cardiac arrest. CPR is used to keep the person alive while the cause of the cardiac arrest is found and treated if possible.
          </p>

          <p>
            CPR can include:
          </p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>
              Chest compressions (repeatedly pushing very firmly on the chest in an attempt to pump blood around the body)
            </li>
            <li>
              Defibrillation (using electric shocks to correct irregularities in the heart’s rhythm)
            </li>
            <li>
              Artificially inflating the lungs (by inserting a tube into the windpipe or by placing an oxygen mask over the mouth and nose, to push air into the lungs)
            </li>
            <li>
              Intravenous medication (administering medications such as adrenaline into a vein to improve heart muscle contraction and blood pressure)
            </li>
          </ul>

          <p>
            CPR success rates vary depending on how well you are in the moments before your heart and/or breathing stop, and how quickly you receive medical treatment. Following CPR a few people make a full recovery, some will still be very unwell and need more treatment, some will never get back to the level of health they had before, and most will not survive.
          </p>

          <h2 class="govuk-heading-m">
            Mechanical or artificial ventilation
          </h2>

          <p>
            Receiving mechanical or artificial ventilation means being put on a ventilator machine that helps you to breathe if you cannot do so on your own. Ventilators are also known as respirators or life-support machines.
          </p>

          <h2 class="govuk-heading-m">
            Clinically assisted nutrition and hydration
          </h2>

          <p>
            If you cannot swallow, you may be given a liquid that contains the nutrition or hydration that you need. This can be given through an intravenous drip (directly into a vein), a tube through the nose or a tube directly into the stomach (sometimes known as a PEG feed).
          </p>

          <h2 class="govuk-heading-m">
            Antibiotics
          </h2>

          <p>
            Antibiotics can be a life-sustaining treatment if they are for a life-threatening infection. These types of infections (for example, pneumonia) are more common when someone is very ill, for example if they have advanced cancer or have had a stroke. Antibiotics can be given through an intravenous drip (directly into a vein) or by mouth as a tablet or liquid.
          </p>

        </div>
      </details>

      <p>
        There is space at the end of the specific scenarios for you to write your own refusal, if you want to.
      </p>

      <p>
        It’s recommended that you speak to your doctor about your Advance Decision and any wishes you have for your future care and treatment.
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Talking to your doctor about your Advance Decision
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <p>
            If you are able to, it is a good idea to speak to your doctor about your wishes. Your doctor can help you to understand your treatment and care options, including any likely benefits and risks. This will help you decide what is right for you, based on your personal priorities, values and beliefs.
          </p>

          <p>
            You can speak to any professional involved in your care including your GP, a consultant, district nurse or social worker.
          </p>

          <p>
            Even if you would prefer not to discuss your wishes with your doctor, it is still important to make sure your wishes are recorded on your medical notes. This helps to make sure they are known about and can be followed.
          </p>

        </div>
      </details>

      <p>
        <a href="refusing-treatment-dementia" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
          Continue
        </a>
      </p>

    </div>
  </div>

{% endblock %}
