{% extends "layout_cid.html" %}

{% block pageTitle %}
Do you want to refuse life-sustaining treatment if you have a brain injury? – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Brain injury
    </h1>
    <p>
      Brain injury is when cells in the brain die or deteriorate. It’s often caused by a head injury or an illness, such as a stroke. Brain injury can have a wide range of effects including difficulty thinking, speaking or remembering things.
    </p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          About brain injury
        </span>
      </summary>
      <div class="govuk-details__text">
        
        <p>
          A brain injury occurs when cells in the brain are damaged. It is often caused by a head injury, illness, such as meningitis or encephalitis, or a stroke. Brain injury can have a wide range of effects including difficulties thinking, speaking or remembering things.          </p>

        <h2 class="govuk-heading-m">
          Causes
        </h2>

        <p>
          There are many causes of brain injury. Here are some of the common ones:
        </p>

        <h3 class="govuk-heading-s">
          Traumatic Brain Injury (TBI)
        </h3>

        <p>
          Traumatic brain injury is caused by an external force, like a blow to the head, which causes the brain to move inside the skull or penetrates the skull (which then causes damage to the brain). This type of injury can be caused by many things such as a car accident, a fall or an accident at work.
        </p>

        <h3 class="govuk-heading-s">
          Stroke
        </h3>

        <p>
          A stroke happens when the blood supply to part of the brain is cut off. This causes brain cells to be damaged or die. Strokes can be caused by a bleeding in or around the brain (called a haemorrhagic stroke). They can also be caused by a blockage in your artery, such as a blood clot, which cuts off the blood supply to the brain (called an ischaemic stroke). If the blockage is temporary it can result in a type of stroke called a transient ischaemic attack (TIA). A TIA is the same as a stroke except the symptoms are temporary and usually get better within 24 hours.
        </p>

        <h3 class="govuk-heading-s">
          Brain haemorrhage
        </h3>

        <p>
          A brain haemorrhage is bleeding in or around the brain caused by an artery bursting. This can be caused by a TBI, a ruptured aneurysm (when a blood vessel bulges), or as a result of a stroke.
        </p>

        <h3 class="govuk-heading-s">
          Encephalitis
        </h3>

        <p>
          Encephalitis is an inflammation of the brain, often caused by an infection.
        </p>

        <h3 class="govuk-heading-s">
          Anoxic or hypoxic brain injury
        </h3>

        <p>
          Anoxic brain injury is when the supply of oxygen to the brain is totally cut off. Hypoxic brain injury is when the supply of oxygen to the brain is partially cut off. If the brain’s oxygen supply is interrupted then irreversible damage can happen quite quickly. This type of brain injury can be caused by many things, including a heart attack, smoke inhalation, and complications from general anaesthetic during surgery.
        </p>

        <h2 class="govuk-heading-m">
          Symptoms
        </h2>

        <p>
          There are many different effects of brain injury, which depend on a number of factors such as the type of injury, the part of the brain that was damaged and how bad the damage is. Each person is different and can experience a number of different symptoms which can vary in how severe they are. Here are some of the common ones that people experience after a brain injury:
        </p>
        
        <h3 class="govuk-heading-s">
          Problems communicating
        </h3>

        <p>
          Many people have problems with speaking, reading and writing. Some people are unable to think of the right words to say and therefore cannot use language. Some people are unable to control the muscles in their face, mouth or throat, making it very difficult to speak.
        </p>

        <h3 class="govuk-heading-s">
          Problems thinking and remembering things
        </h3>

        <p>
          Some people suffer from memory loss. They may not be able to remember things that happened either before or after the injury. They may suffer from short-term memory loss, such as forgetting what has just been said, have difficulty learning new skills, repeat the same question over and over or forget people’s names. Some people have difficulty concentrating on things and find that it takes them longer to process information.
        </p>

        <h3 class="govuk-heading-s">
          Changes in behaviour and emotion
        </h3>

        <p>
          Some people have difficulty controlling their mood. Some people experience changes in their behaviour, for example they may get angry more easily, may not be interested in things they used to enjoy, or may be more impulsive and have fewer inhibitions.
        </p>

        <h3 class="govuk-heading-s">
          Problems with movement and balance
        </h3>

        <p>
          Some people experience muscle weakness or lose the ability to control their muscles. This can cause problems with balance and/or pain. Very severe brain injury can result in paralysis (not being able to move part or all of the body).
        </p>

        <h3 class="govuk-heading-s">
          Coma, vegetative and minimally conscious states
        </h3>

        <p>
          A TBI can lead to a loss of consciousness. Longer periods of unconsciousness are often known as coma. Sometimes people recover from their coma. However, a small number of people have a brain injury that is so severe that when they emerge from their coma they enter a minimally conscious state or a vegetative state. More information on these can be found below.
        </p>

        <h2 class="govuk-heading-m">
          Minimally conscious state & vegetative state
        </h2>

        <h3 class="govuk-heading-s">
          Vegetative state
        </h3>

        <p>
          If someone is in a vegetative state, it means that they are awake but do not have a conscious awareness of themselves or their surroundings. If the symptoms of a vegetative state last for more than four weeks, this is referred to as a ‘continuing vegetative state’. If the symptoms persist for one year after a traumatic brain injury (caused by a trauma to the head), or six months after any other acquired brain injury (such as a tumour or a stroke), the person may be diagnosed as being in a permanent vegetative state. If someone is in a permanent vegetative state, it is very unlikely that they will recover.
        </p>

        <h3 class="govuk-heading-s">
          Minimally conscious state
        </h3>

        <p>
          If someone is in a minimally conscious state, it means they are awake but only have a small level of awareness and minimal response to things around them. For example, they may be able to respond to simple questions with words or movements. However, such awareness can come and go. If someone shows these symptoms for more than four weeks, it is diagnosed as a ‘continuing minimally conscious state’. It is difficult to diagnose when a minimally conscious state becomes permanent, but evidence suggests that it would be very rare for someone to recover after five years.
        </p>

        <p>
          For more information on brain injury contact Headway on 0808 800 2244 or visit its website <a href="#">www.headway.org.uk</a>.
        </p>

        <p>
          For more information on stroke contact the Stroke Association on 0303 3033 100 or visit its website <a href="#">www.stroke.org.uk</a>.
        </p>

      </div>
      
    </details>

    <p>
      Sometimes, a brain injury can cause you to lose capacity to make decisions about your care and treatment. In this situation you might want to refuse treatments aimed at sustaining your life.
    </p>

    <form action="/v2/refusing-treatment-terminal-illness" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            Do you want to refuse life-sustaining treatment if you have a brain injury?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refuse-lst-brain-injury" name="refuse-lst-brain-injury" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="refuse-lst-brain-injury">
                Yes, I want to refuse life-sustaining treatment if I have a brain injury
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="refuse-lst-brain-injury-2" name="refuse-lst-brain-injury" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="refuse-lst-brain-injury-2">
                No, I do not want to refuse life-sustaining treatment if I have a brain injury
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    <p>
      <a href="ad-task-list-2">Save and continue later</a>
    </p>
  </div>
</div>

{% endblock %}
