{% extends "layout_v3.html" %}
{% set signedin = "true" %}
{% set serviceName = "Make an advance decision (living will)" %}
{% set feedbackLink = 'true' %}

{% set formsActive = "govuk-header__navigation-item--active" %}

{% set completed = '<strong class="govuk-tag govuk-tag--green app-task-list__tag">completed</strong>' %}
{% set notstarted = '<strong class="govuk-tag govuk-tag--grey app-task-list__tag">not started</strong>' %}

{% block pageTitle %}
Edit your advanced decision - {{ serviceName }} - Compassion in dying
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="dashboard">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Edit your advanced decision
    </h1>

  </div>
</div>

<!--      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>-->
<!--      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>-->

<h2 class="govuk-heading-l govuk-!-margin-bottom-9">Your progress</h2>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>
          Personal details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item"><span class="app-task-list__task-name">
            <a href="personal-name?change=tasklist">Name</a></span>
            {% if data['first-name'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item"><span class="app-task-list__task-name">
            <a href="personal-country?change=tasklist">Country of residence</a></span>
            {% if data['country'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item"><span class="app-task-list__task-name">
            <a href="personal-address?change=tasklist">Address</a></span>
            {% if data['address-line-1'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item"><span class="app-task-list__task-name">
            <a href="personal-dob?change=tasklist">Date of birth</a></span>
            {% if data['date-of-birth'][0] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <a href="personal-features?change=tasklist">Distinguishing features (optional)</a></span>
            {% if data['features'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span>
          Healthcare details
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <a href="{% if data['country'] === 'Scotland' %}healthcare-do-you-know-chi-no{% else %}healthcare-do-you-know-nhs-no{% endif %}?change=tasklist">Healthcare Number (optional)</a></span>
            {% if data['knows-chi-no'] or data['knows-nhs-no'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item"><span class="app-task-list__task-name">
            <a href="healthcare-gp-surgery?change=tasklist">GP details</a></span>
            {% if data['gp-name'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <a href="healthcare-lpa?change=tasklist">Lasting power of attorney</a></span>
            {% if data['has-lpa'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <a href="healthcare-attorney-list?change=tasklist">Attorney details (optional)</a></span>
            {% if data['add-attorney'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
        </ul>
      </li>
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>
          Decide when to
          refuse treatment
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item"><span class="app-task-list__task-name">
            <a href="refuse-dementia?change=tasklist">Dementia</a></span>
            {% if data['refuse-dementia'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item"><span class="app-task-list__task-name">
            <a href="refuse-brain-injury?change=tasklist">Brain injury</a></span>
            {% if data['refuse-brain-injury'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <a href="refuse-central-nervous?change=tasklist">Disease of the central nervous system</a></span>
            {% if data['refuse-central-nervous'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item"><span class="app-task-list__task-name">
            <a href="refuse-terminal-illness?change=tasklist">Terminal illness</a></span>
            {% if data['refuse-terminal-illness'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <a href="refuse-other?change=tasklist">Other scenarios (optional)</a></span>
            {% if data['refuse-other'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <a href="avoid-doubt-legal?change=tasklist">Legal declaration</a></span>
            {% if data['legal'][0] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item">
            <span class="app-task-list__task-name">
            <a href="avoid-doubt-pain?change=tasklist">Pain relief</a></span>
            {% if data['pain'][0] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
          <li class="app-task-list__item"><span class="app-task-list__task-name">
            <a href="your-values-why-refuse?change=tasklist">Your values (optional)</a></span>
            {% if data['refuse-reasons'] %}{{ completed|safe }}{% else %}{{ notstarted|safe }}{% endif %}
          </li>
        </ul>
      </li>
    </ol>

    <a class="govuk-button" href="dashboard">Return to dashboard</a>

  </div>
</div>


{% endblock %}
