{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Activate your account – {{ serviceName }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    Email Service
  </h1>
  <hr>
  <br>
  <h2 class="govuk-heading-l">
    Activate your account
  </h2>
  <p class="govuk-body-l">
    Please confirm your email address to activate your account and finish the registration process.
  </p>

  <a href="my-forms" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
    Activate my account now
  </a>

  <p class="govuk-body-l govuk-!-font-weight-bold">
    You must activate your account before you can create an Advance Decision or Advance Statement using our website.
  </p>

  <div class="govuk-inset-text">
    <h2 class="govuk-heading-l">
      Contact us
    </h2>
    <p class="govuk-body-l">
      Email: <a href="#">info@compassionindying.org.uk</a>
    </p>
    <p class="govuk-body-l">
      Phone: 0800 999 2434 (Monday to Friday, 11 am - 3 pm)
    </p>
  </div>

{% endblock %}
