
{% extends "layout_cid_start_page.html" %}

{% block pageTitle %}
  Home – MyDecisions
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        MyDecisions
        <span class="govuk-caption-xl">This free and simple website will help you do an important thing:</span>
      </h1>
      <p>
        Planning ahead for your future treatment and care
      </p>

      <p>
        "It felt empowering. Like I had taken control. It allowed me to get on with living well now."
      </p>

      <p>
        You might not like to think about it but there might come a time when you’re too unwell to tell those caring for you – like your family or a doctor – what you do and don’t want to happen.
      </p>

      <a href="first-page.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start recording your wishes now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">We know that planning for the future isn’t always easy and you might not know where to start...</h2>

      <p>This WEBSITE will take you through some questions and scenarios to get you thinking about what’s important to you.</p>

      <p>At the end it will generate a legal document about your wishes for treatment and care for you to print, sign, witness and share.</p>
      
      <p>It will only be used if you can’t make a decision yourself.</p>

      <p>You don’t have to do everything all at once. At any point you can save what you’ve done and come back to it later. Take a look, have a think and talk to those close to you.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How can I record my wishes?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>An Advance Decision lets you record any medical treatments that you don’t want to be given in the future.</p>
          <p>An Advance Statement lets you record anything that’s important to you when thinking about your health, care and wellbeing, like any religious or spiritual views, your daily routine or where you would like to be cared for.</p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Who can make an Advance Decision?
          </span>
        </summary>
        <div class="govuk-details__text">
          You can only make an Advance Decision if you are over 18 and currently have the capacity to do so.
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Will my doctor follow my Advance Decision?
          </span>
        </summary>
        <div class="govuk-details__text">
          Advance Decisions are legally binding in England and Wales, as long as they meet certain requirements (MyDecisions will help you meet these). If you live in Scotland or Northern Ireland you can still use MyDecisions, but the legal situation is a bit different. <a href="">Click here</a> for more info.
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Can I do it all using this website?
          </span>
        </summary>
        <div class="govuk-details__text">
          Not quite. You need to print off your final documents, sign them and share them with people close to you and your doctor. If you’re making an Advance Decision to refuse life sustaining treatment you also have to get it witnessed. It’s not legally binding until you’ve done this.
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Do I have to do it online?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">No, you can:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Download a form to complete by hand here.</li>
            <li>Contact us on 0800 999 2434 or info@compassionindying.org.uk and we can send a form and guidance notes to you in the post.</li>
          </ul>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
