
{% extends "layout_cid_start_page.html" %}

{% block pageTitle %}
  Prototype homepage – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype homepage
        <span class="govuk-caption-xl">{{ serviceName }} (advance decision)</span>
      </h1>

      <h2 class="govuk-heading-m">Research round 2</h2>

      <strong class="govuk-tag govuk-tag--turquoise">
        in progress
      </strong>

      <p>Research objectives:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>objective 1</li>
        <li>objective 2</li>
        <li>objective 3</li>
      </ul>

      <a href="v2" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Start round 2 prototype
      </a>

      <h2 class="govuk-heading-m">Research round 1</h2>

      <strong class="govuk-tag govuk-tag--grey">
        completed
      </strong>

      <p>Research objectives:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>objective 1</li>
        <li>objective 2</li>
        <li>objective 3</li>
      </ul>

      <a href="/v1" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Start round 1 prototype
      </a>

    </div>
  </div>

{% endblock %}
